.container {
    //Sizing
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    //Styling
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    @media only screen and (max-width: $bp-medium) {
        box-shadow: none;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--border-thin);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smaller) {
        height: 9.5rem;
        padding: .5rem 0;
        flex-wrap: wrap;
        align-content: space-between;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: var(--color-grey-light-1);
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-thin);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

    @media only screen and (max-width: $bp-smaller) {
        padding: 1.5rem;
    }
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-subtle);

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-smaller) {
        margin-bottom: 2rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-smaller) {
        margin-bottom: .5rem;
    }
}